<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>My_Foody_Body.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE08AA0025D5BC6D00C6F688</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE08AA1625D5BC7000C6F688</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE08AA2125D5BC7000C6F688</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
